.citation-definition {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.25rem;
    font-size: 0.8rem;
}

.citation-definition-id {
    opacity: 0.25;
    width: 20px;
    text-align: right;
}

.citation-definition-content {
    opacity: 1 !important;
}
