@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.excalidraw-image > svg {
  max-width: 100%;
  height: min-content;

  margin-left: auto;
  margin-right: auto;
}